<div class="mensagens pagamento">
    <div class="row">
            <div class="column column-3">
                <label>MÊS<span>{{numeroParcela}}</span></label>
            </div>
        <div class="column column-5">
            <label>TIPO DE PGTO.<span>{{tipoPagamento}}</span></label>
        </div>
        <div class="column column-4">
            <label>VALOR<span>R$ {{valor}}</span></label>
        </div>
    </div>
    <div class="row vencimento">
        <div class="column column-3">
           <label>VENC.<span>{{vencimento}}</span></label>
        </div>
        <div class="column column-5">
           <label>SITUAÇÃO<span>{{situacao}}</span></label>
        </div>
        <div class="column column-4">
           <label><span>{{botaoDownload}}</span></label>
        </div>
    </div>
</div>