﻿label {
	color: #707070;
	font: normal 0.9em "Lintel-Medium", helvetica;	
}
	#pop label {
		color: #fff;
		font: normal 1em "Lintel-Regular", helvetica;
		margin: 2em 0em 0em 0em;
	}
		#pop .inputOutline {
 			display: block;
  			border-bottom: 0.0625rem solid #ff0;
		}
		#pop #textInput {
  			border: none;
 			outline: none;
  			background: transparent;
  			color: #fff;
  		  	line-height: 1.1125rem;
  			height: 2rem;
  			max-width: 100%;
  			padding-left: 0.125rem;
  			margin-bottom: -0.125rem;
  			font: normal 1.3rem "Lintel-Regular", helvetica;
		}

#pop #textInput.underline {
  border-bottom: 2px solid #00B4A0;
}

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

#pop input:-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

:-ms-input-placeholder {
  color: #B5B5B5;
}

::-ms-clear {
  display: none;
}

#pop .inputOutline {
  display: block;
  border-bottom: 0.0625rem solid #aeaeae;
  margin: 2.5em 0em 0em 0em;
}

#pop #textInputDummy {
  position:absolute;
  white-space:pre;
  top: 0;
  left: -1000%;
  opacity: 0;
}	
		
input, select, textarea {
	background: none;
	/*border-style: solid;
	border-color:#fff;
	border-width: 0em 0em 0.10em 0em;*/
	color: #fff;
	font: 12pt "Verdana", Geneva, sans-serif;
	margin: 0;	
	height: 16px;
	width:100%;
}
	.column input{
    	height: 16px;
		width:98%;
		padding:1.5% 0px 5px 1.5%;
	}
	.column select{
    	height: 30px;
		width:100%;
		padding:1.5% 0px 5px 1.5%;
	}
	.column textarea{
    	width:98%;
		padding:1.5% 0px 5px 1.5%;
	}
#pop .responsive-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}
button {
	background:#f47728;
	border-radius:0.35em;
		-khtml-border-radius:0.35em;
		-moz-border-radius:0.35em;
		-webkit-border-radius:0.35em;
		-o-border-radius:0.35em;
	border: solid #C05131;
		border-width: 0px 0px 2px 0px;	
	color:#fff;
	font-family:"Lintel-Medium", arial, helvetica;
	font-weight:normal;
	font-size:1em;
	float:right;
	margin:0em 0em;
	padding:3px 10px;
	text-transform:uppercase;
	max-width:600px;
}
@media only screen and (max-width: 400px) {
	button {
		width:100%;
	}
}
	button:active {
		border-width:0px;
	}
	button#sair:active {
		border-width:1px;
	}
	button#sair  {
	background:#fff;
	border-radius:0.35em;
		-khtml-border-radius:0.35em;
		-moz-border-radius:0.35em;
		-webkit-border-radius:0.35em;
		-o-border-radius:0.35em;
	border: solid #ccc;
		border-width: 1px 1px 2px 1px;	
	color:#f47728;
	font-family:"Lintel-Medium", arial, helvetica;
	font-weight:normal;
	font-size:1em;
	margin:8px 15px 0px 0px;
	padding:3px 10px;
	text-transform:uppercase;
	width:100%;
}