﻿/* Documento CSS */
@charset "utf-8";
@import url("reset.css");       	/* Estilos para zerar os padrões do css  */
@import url("font_SAS.css");    	/* Estilos para font padrão da SulAmérica Lintel Family  */
@import url("grid.css");            /* Estilos linhas e colunas formulários */
@import url("forms.css");            /* Estilos formulários */

html, body {
	height: 100%;
	margin-bottom: 0;
	min-width:300px;
	padding-bottom: 0;
	
}
* html {height: 100%;}
body {
	background-color: #f0f0f0;
	font-family:Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	-webkit-text-stroke: 0.0px;
	overflow:auto;
}
img {
	border: 0;
	outline: none;	
}
a, a:active, a:visited {
	color: #13276f;
	font-family: Verdana, Geneva, sans-serif;
	outline: none;	
	text-decoration: underline;
}
a:hover, a:focus {
	color: #f60;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: underline;
}
strong{
	font-size:2em;
	font-weight: bold;
}
.sombra {
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
		-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
		-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);	
}
.radius {
	border-radius:0.50em;
		-khtml-border-radius:0.50em;
		-moz-border-radius:0.50em;
		-webkit-border-radius:0.50em;
		-o-border-radius:0.50em;
}
.left {
	float:left;			
}
.right {
	float:right;			
}
/*-------------------------------------*\
    Header/Cabecalho
\*-------------------------------------*/
header#topo {
	background:#DC6B2F url("../images/icon_chat.png") no-repeat;
		background-position: 8px center;
	/*box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
		-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
		-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);*/
	color:#fff;	
	height: 40px;
	margin: 0 auto;	
	padding: 3px 0px;
	position:fixed;
	top:0;
	width:100%;
	z-index:10;
}
	header#topo span#nome {
		font-family:"Lintel-Medium", arial, helvetica;
		font-weight:normal;
		font-size:1.1em;
		margin-left:48px;
		padding:0px;
	}
	header#topo span#atendimento{
		font-family:"Lintel-Medium", arial, helvetica;
		font-weight:normal;
		font-size:0.7em;
		margin-left:48px;
		padding:0px;
	}
#shadow {
	background:#3FD885;
	border-radius:30%;
	-khtml-border-radius:30%;
	-moz-border-radius:30%;
	-webkit-border-radius:30%;
	-o-border-radius:30%;
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.90);
		-moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.90);
		-webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.90);
		height:45px;
		margin: 0 auto;
		width:98%;
	position:fixed;
	top:0;
	z-index:5;
}	
/*-------------------------------------*\
    Conteudo
\*-------------------------------------*/	
#content {
	background:none;
	min-height:310px;
	margin:50px auto;
		overflow-y:scroll;
	/*min-width: 940px;*/
	padding: 5px 0px 50px 0px;
	width:100%;
/*	height:calc(100%-200px);*/
	z-index:0;
}
.avatar {
	border-radius:2em;
		-khtml-border-radius:2em;
		-moz-border-radius:2em;
		-webkit-border-radius:2em;
		-o-border-radius:2em;
	float:left;	
	height:40px;
	width:40px;	
	margin:0px;		
}
	.bia {
		background-image:url(../images/avatar_bia.png);
		z-index:10;
	}
	.patrick {
		background-image:url(../images/avatar_patrick.png);

	}
	.person {
		background-image:url(../images/avatar_person.png);
	}
	.blue {
		background-color:#1b365d;
	}
	.orange {
		background-color:#DC6B2F;
	}		
	
.mensagens {
	border-radius:0.50em;
		-khtml-border-radius:0.50em;
		-moz-border-radius:0.50em;
		-webkit-border-radius:0.50em;
		-o-border-radius:0.50em;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
		-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
		-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
	color:#000;
	font: 0.98em "Helvetica", Arial, sans-serif;
	padding: 0.5em;
}
	.off {
		color:#333;
		font: 0.75em "Helvetica", Arial, sans-serif;
	}
	.carregando {
		color:#a3a3a3;
		font: 1em "Helvetica", Arial, sans-serif;
		text-transform:uppercase;
		text-align:center;

	}
	.atendente {
		background: #fff;
        background:-moz-linear-gradient(#fff, #f7f7f7);
        background:-webkit-linear-gradient(#fff, #f7f7f7);
        background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f7f7f7));
        background:-o-linear-gradient(#fff, #f7f7f7);
        background:linear-gradient(#fff, #f7f7f7);
		float:left;			
		position: relative;
		border-radius: 0.50em;
  		border-top-left-radius: 0;
		display: inline-block;
		min-width: 2.5em;
	}
			.atendente:before, .atendente:after {
  			content: "";
			position: absolute;
		}
		.atendente:before {
  			background: #fff;
			top: 0;
  			height: 0.85em;
			left: -0.375em;  			
  			width: 0.5em;
			z-index: 2;
		}
		.atendente:after {
  			background: #f0f0f0;
  			border-top-right-radius: 1.95em;
  			top: 0;			
			box-shadow: inset 0px 1px 0.5px 0px rgba(0, 0, 0, 0.20);
				-moz-box-shadow: inset 0px 1px 0.5px 0px rgba(0, 0, 0, 0.20);
				-webkit-box-shadow: inset 0px 1px 0.5px 0px rgba(0, 0, 0, 0.20);			
			height: 0.85em;
			left: -0.60em;
			width: 0.60em;
			z-index: 3;
		}
	
	
	
	
	.corretor {
  		position: relative;
  		background: #d4d4d4;
  		border-radius: 0.50em;
  		border-bottom-right-radius: 0;
/*  		box-shadow:none;*/
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
		-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
		-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
  		display: inline-block;
		min-width: 9em;
  		text-align: left;
		z-index: 1;
	}
		.corretor:before, .corretor:after {
  			content: "";
			position: absolute;
		}
		.corretor:before {
  			background: #d4d4d4;
			bottom: -0.375em;
  			height: 0.375em;
			right: 0;  			
  			width: 0.5em;
			z-index: 2;
		}
		.corretor:after {
  			background: #f0f0f0;
  			border-top-right-radius: 1.25em;
  			bottom: -0.5em;			
			box-shadow: inset 0px 1px 0.5px 0px rgba(0, 0, 0, 0.30);
				-moz-box-shadow: inset 0px 1px 0.5px 0px rgba(0, 0, 0, 0.30);
				-webkit-box-shadow: inset 0px 1px 0.5px 0px rgba(0, 0, 0, 0.30);			
			height: 0.5em;
			right: 0;
			width: 0.95em;
			z-index: 3;
		}	
.saiu{
	box-shadow:none;
	color:#878787; 
	float:left;	
}
.atencao {
	background: #ffdc73;
		background:-moz-linear-gradient(#ffe556, #ffdc73);
        background:-webkit-linear-gradient(#ffe556, #ffdc73);
        background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffe556), to(#ffdc73));
        background:-o-linear-gradient(#ffe556, #ffdc73);
        background:linear-gradient(#ffe556, #ffdc73);
	color: #000;
	font: 0.8em "Helvetica", Arial, sans-serif;
	margin-bottom: 10px;
}
.feedback {
	background: #bfd8ff;
		background:-moz-linear-gradient(#bfd8ff, #bfbfff);
        background:-webkit-linear-gradient(#bfd8ff, #bfbfff);
        background:-webkit-gradient(linear, 0 0, 0 100%, from(#bfd8ff), to(#bfbfff));
        background:-o-linear-gradient(#bfd8ff, #bfbfff);
        background:linear-gradient(#bfd8ff, #bfbfff);
	color: #000;
	font: 0.8em "Helvetica", Arial, sans-serif;
	margin-bottom: 10px;
}
label {
	color: #878787;
	font: 0.65em "Helvetica", Arial, sans-serif;
	display:inline-block;
	margin: 5px 0px 0px 8px;
}
/*-------------------------------------*\
    Footer/Rodape
\*-------------------------------------*/		
footer#footer {
	background: #fff;
	bottom:0;
	border: solid #D4D4D4;
	border-width: 1px 0px;	
	color:#666;
	/*height: 45px;*/
	margin: 0;	
	padding: 0px;
	position:fixed;
	width:100%;		
		box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.45);
		-moz-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.45);
		-webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.45);
	z-index: 4;	
}
	footer#footer p {
		color: #13276f;
		font: 7pt "arial", helvetica;
		float: right;
		line-height: 10px;
		padding-top: 6px;
	}
	footer#footer span {
		color: #707070;
		font: 8pt "arial", helvetica;
		float: right;
		line-height: 10px;
		padding: 20px 20px 0 0;		
	}
		footer#footer span a {
			color: #13276f;
			text-decoration: none;
		}
		footer#footer span a:hover {
			color: #13276f;
			text-decoration: underline;
		}
		.emoji{
			float:left;
			height:45px;
			width:45px;	
		}
		.enter{
			background:none;
			border-bottom:solid;
			border-bottom-width:1px;
			border-bottom-color:#ccc;
			float:right;
			height:45px;
			width:45px;	
		}
			.emoji a img, .enter a img{
				padding:12px;	
				float:right;

			}
		#escreva{
			border-bottom:solid;
			border-bottom-width:1px;
			border-bottom-color:#ccc;
			float:left;
			width:calc(100% - 45px);
				
		}
			#escreva textarea {
				padding: 15px 0px 0px 10px;
				min-height:29px;
					overflow:auto;							
			}
			#escreva input{
				padding: 3px 0px 0px 10px;
				min-height:42px;
					overflow:auto;				
			}
			#escreva input, #escreva textarea {
				border-width: 0px;
				background: none;
				box-shadow:none;
				color: #333;
				font: 9pt "Helvetica", Arial, sans-serif;
				margin: 0;
				width:100%;	
			}
				#escreva input:focus, #escreva textarea:focus {
					outline: 0;
				    outline: thin dotted \9; /* IE6-9 */
					background: #fff;
					border: solid #f47728;
					border-width: 0px 0px 0px 4px;					
				}
			#actions {
			}	
			.icons {
				padding: 3px 6%;
				border-top:solid;
				border-top-width:3px;
				border-top-color:#fff;
				float:left;
			}
				.icons button {
				 	background:none;
					border:none;
				}
				.icons:hover {
					border-top-color:#DC6B2F;
				}
			#extra{
				border-top:solid;
				border-top-width:1px;
				border-top-color:#ccc;
				height:80px;
				width:100%;
				clear:both;
				display: block;				
			}
				#extra input:file{
					margin:10px;
					height: 20px;
					padding: 4px;
					font: 12pt "Verdana", Geneva, sans-serif;
					width:auto;
					font-size:1em;
				}
/*-------------------------------------*\
    Carregando/Loading
\*-------------------------------------*/	
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #d4d4d4;
  font-size: 10px;
  margin: 40px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/* INICIO EXEMPLOS POPUPS */
#pop {
	background-color:#13276F;
	border-radius:0.5em;
		-khtml-border-radius:0.5em;
		-moz-border-radius:0.5em;
		-webkit-border-radius:0.5em;
		-o-border-radius:0.5em;
	bottom: 0;
	color: #fff;
	font-size: 1.8em;
	left: 0;
	margin: 10% 20%;
	height: calc(100%-10%);/**/
	overflow: auto;
	padding: 0.8em;
	position:fixed;
	right: 0;
	text-align: left;	
	top: 0px;
	/*top: 0;*/	
	width: calc(100%-40%);	
	z-index:999999;
}
@media only screen and (max-width: 400px) {
	#pop {
		margin: 1em;
		width: calc(100%-1em);
	}
	.foot {
		bottom:0;
		font-size: 0.8em;
		margin: 2em 2em 8em 0em;
		position:absolute;	
	}
}
	/*#pop h1{
		border-top-right-radius:0.30em 0.30em 0 0;
		-khtml-border-radius-topmright:0.30em 0.30em 0 0;
		-moz-border-radius-topmright:0.30em 0.30em 0 0;
		-webkit-border-top-right-radius:0.30em 0.30em 0 0;
		-o-border-top-right-radius:0.30em 0.30em 0 0;
		text-transform:uppercase;	
	}
		h1 button{
			background: url("../images/ico_fechar.png") !important;
			background-position:0px top;
			background-repeat:no-repeat !important;
			border: none;
			cursor: pointer;
			height:27px;
			float:right;
			margin-right:10px;
			padding:0;
			width:20px !important;
			*width:20px !important;
		}
		h1 button:hover{
			background-position:right top !important;
		}*/
		#pop {
			font: normal 1em "Lintel-Regular", helvetica;	
		}
#mascara {
  background-image: url("../images/fundo_preto.png");
  bottom:0;
  height:100%;
  left:0;
  position:fixed;
  top:0;
  right:0;
  width:100%;
  z-index:999998;
}
.foot {
	bottom:0;
	font-size: 0.75em;
	margin: 4em 2em 0em 0em;
	width:auto;
}
/* FIM EXEMPLOS POPUPS */