/* Documento CSS */
@charset "utf-8";
@import url("reset.css");       	/* Estilos para zerar os padrões do css  */
@import url("font_SAS.css");    	/* Estilos para font padrão da SulAmérica Lintel Family  */
@import url("grid.css");            /* Estilos linhas e colunas formulários */
@import url("forms.css");            /* Estilos formulários */
@import url("../fonts/icons/style.css");

html, body {
	height: 100%;
	margin-bottom: 0;
	min-width:300px;
	padding-bottom: 0;
	
}
* html {height: 100%;}
body {
	background-color: #f4f4f4;
	font-family:Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	-webkit-text-stroke: 0.0px;
}
img {
	border: 0;
	outline: none;	
}
a, a:active, a:visited {
	color: #13276f;
	font-family: Verdana, Geneva, sans-serif;
	outline: none;	
	text-decoration: underline;
}
a:hover, a:focus {
	color: #f60;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: underline;
}
strong{
	font-size:2em;
	font-weight: bold;
}
.sombra {
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
		-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
		-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);	
}
.radius {
	border-radius:0.50em;
		-khtml-border-radius:0.50em;
		-moz-border-radius:0.50em;
		-webkit-border-radius:0.50em;
		-o-border-radius:0.50em;
}
.left {
	float:left;			
}
.right {
	float:right;			
}
.green{
	color:green;
	}
.red {
	color: red;
}

/*-------------------------------------*\
    Header/Cabecalho
\*-------------------------------------*/
header#topo {
	background:#DC6B2F url("../images/icon_chat.png") no-repeat;
		background-position: 8px center;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
		-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
		-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
	color:#fff;	
	height: 39px;
	margin: 0 auto;	
	padding: 3px 0px;
	position:fixed;
	top:0;
	width:100%;
	z-index:10;
}
	header#topo span#nome {
		font-family:"Lintel-Medium", arial, helvetica;
		font-weight:normal;
		font-size:1.1em;
		margin-left:48px;
		padding:0px;
	}
	header#topo span#atendimento{
		font-family:"Lintel-Medium", arial, helvetica;
		font-weight:normal;
		font-size:0.7em;
		margin-left:48px;
		padding:0px;
	}
	#shadow {
	background:#3FD885;
	border-radius:30%;
	-khtml-border-radius:30%;
	-moz-border-radius:30%;
	-webkit-border-radius:30%;
	-o-border-radius:30%;
	box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.90);
		-moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.90);
		-webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.90);
		height:45px;
		margin: 0 auto;
		width:98%;
	position:fixed;
	top:0;
	z-index:5;
}
/*-------------------------------------*\
    Conteudo
\*-------------------------------------*/	
#content {
    padding-top: 55px;
    background: none;
    min-height: 310px;
    overflow: auto;
    width: 100%;
    height: calc(100%-95px) !important;
    z-index: 0;
}
.avatar {
	border-radius:2em;
		-khtml-border-radius:2em;
		-moz-border-radius:2em;
		-webkit-border-radius:2em;
		-o-border-radius:2em;
	float:left;	
	height:40px;
	width:40px;	
	margin:0px;		
}
	.bia {
		background-image:url(../images/avatar_person.png);
	}
	.patrick {
		background-image:url(../images/avatar_patrick.png);
	}
	.person {
		background-image:url(../images/avatar_person.png);
	}
	.blue {
		background-color:#1b365d;
	}
	.orange {
		background-color:#DC6B2F;
	}
	.bot {
		background-image:url(../images/avatar_bot.png);
	}
.mensagens {
	border-radius:0.50em;
		-khtml-border-radius:0.50em;
		-moz-border-radius:0.50em;
		-webkit-border-radius:0.50em;
		-o-border-radius:0.50em;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
		-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
		-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
}

.mensagens table {
	border-collapse: collapse;
	width: 100%;
}

.mensagens table, .mensagens th, .mensagens td {
	border: 1px solid #f2f2f2;
	text-align: center;
}

.mensagens table tr:nth-child(even){
	background-color: #f2f2f2;
}

.mensagens th {
	font-weight: bold;
}

.mensagens p, .mensagens.saiu {
	color:#000;
	font: 0.8em "Helvetica", Arial, sans-serif;
	padding: 0.5em;
	margin: 0;
}

.mensagens b{
	font-weight: bold;
}

.mensagens li{
	list-style: circle;
	margin-left: 30px;
}

.off {
	color:#333;
	font: 0.75em "Helvetica", Arial, sans-serif;
	text-align: center
}
.carregando {
	color:#a3a3a3;
	font: 1em "Helvetica", Arial, sans-serif;
	text-transform:uppercase;
	text-align:center;

}
.atendente {
	background: #fff;
	background:-moz-linear-gradient(#fff, #f7f7f7);
	background:-webkit-linear-gradient(#fff, #f7f7f7);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f7f7f7));
	background:-o-linear-gradient(#fff, #f7f7f7);
	background:linear-gradient(#fff, #f7f7f7);
	/*float:left;			*/
	position: relative;
	border-radius: 0.50em;
	/*border-bottom-right-radius: 0;*/
	display: inline-block;
	min-width: 2.5em;
	max-width: 85%;
    margin-left: 5px;
}

.corretor {
	position: relative;
	background: #d4d4d4;
	border-radius: 0.50em;
	border-bottom-right-radius: 0;
/*  		box-shadow:none;*/
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
	display: inline-block;
	min-width: 9em;
	text-align: left;
	z-index: 1;
}
.corretor:before, .corretor:after {
	content: "";
	position: absolute;
}
.corretor:before {
	background: #d4d4d4;
	bottom: -0.375em;
	height: 0.375em;
	right: 0;  			
	width: 0.5em;
	z-index: 2;
}
.corretor:after {
	background: #f4f4f4;
	border-top-right-radius: 1.25em;
	bottom: -0.5em;			
	box-shadow: inset 0px 1px 0.5px 0px rgba(0, 0, 0, 0.30);
		-moz-box-shadow: inset 0px 1px 0.5px 0px rgba(0, 0, 0, 0.30);
		-webkit-box-shadow: inset 0px 1px 0.5px 0px rgba(0, 0, 0, 0.30);			
	height: 0.5em;
	right: 0;
	width: 0.95em;
	z-index: 3;
}

.saiu{
	box-shadow:none;
	color:#878787 !important;
	float:left;	
}

.atencao {
	background: #ffdc73;
		background:-moz-linear-gradient(#ffe556, #ffdc73);
        background:-webkit-linear-gradient(#ffe556, #ffdc73);
        background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffe556), to(#ffdc73));
        background:-o-linear-gradient(#ffe556, #ffdc73);
        background:linear-gradient(#ffe556, #ffdc73);
	color: #000;
	font: 0.8em "Helvetica", Arial, sans-serif;
	margin-bottom: 10px;
    padding: 0.5em;
}
.feedback, .feedback2 {
	background: #c3e2e5;
		background:-moz-linear-gradient(#c3e2e5, #b2d1d1);
        background:-webkit-linear-gradient(#c3e2e5, #b2d1d1);
        background:-webkit-gradient(linear, 0 0, 0 100%, from(#c3e2e5), to(#b2d1d1));
        background:-o-linear-gradient(#c3e2e5, #b2d1d1);
        background:linear-gradient(#c3e2e5, #b2d1d1);
	color: #000;
	font: 0.9em "Helvetica", Arial, sans-serif;
	margin-bottom: 10px;
	display:block;
	min-width:280px;
}
label {
	color: #878787;
	font: 0.65em "Helvetica", Arial, sans-serif;
	display:inline-block;
	margin: 5px 0px 0px 8px;
}
/*-------------------------------------*\
    Footer/Rodape
\*-------------------------------------*/		
footer#footer {
	background: #fff;
	bottom:0;
	color:#666;
	/*height: 45px;*/
	margin: 0;	
	padding: 0px;
	position:fixed;
	width:100%;		
		box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.45);
		-moz-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.45);
		-webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.45);
	z-index: 4;	
}
	footer#footer p {
		color: #13276f;
		font: 7pt "arial", helvetica;
		float: right;
		line-height: 10px;
		padding-top: 6px;
	}
	footer#footer span {
		color: #707070;
		font: 8pt "arial", helvetica;
		float: right;
		line-height: 10px;
		padding: 20px 20px 0 0;		
	}
		footer#footer span a {
			color: #13276f;
			text-decoration: none;
		}
		footer#footer span a:hover {
			color: #13276f;
			text-decoration: underline;
		}
		.emoji{
			float:left;
			height:45px;
			width:45px;	
		}
		.enter{
			background:none;
			border-bottom:solid;
			border-bottom-width:1px;
			border-bottom-color:#ccc;
			float:right;
			height:45px;
			width:55px;	
		}
			.emoji a img, .enter a img{
				padding:12px;	
				float:right;

			}
		#escreva{
			border-bottom:solid;
			border-bottom-width:1px;
			border-bottom-color:#ccc;
			float:left;
			width:calc(100% - 55px);	
		}
			#escreva textarea {
				padding: 15px 0px 0px 10px;
				min-height:29px;
					overflow:auto;							
			}
			#escreva input{
				padding: 3px 0px 0px 10px;
				min-height:42px;
				overflow:auto;				
			}
			#escreva input, #escreva textarea {
				border-width: 0px;
				background: none;
				box-shadow:none;
				color: #333;
				font: 9pt "Helvetica", Arial, sans-serif;
				margin: 0;
				width: calc(100% - 20px);	
			}
				#escreva input:focus, #escreva textarea:focus {
					outline: 0;
					outline: thin dotted \9;
					background: #fff;
					border: solid #f47728;
					border-width: 0px 0px 0px 4px;					
				}
		#actions, .actions {
				text-align: center;
				border-top: solid;
				border-top-width: 1px;
				border-top-color: #ccc;
			}	

			.actions button{
				margin: 12px 10px;
				background: #dc6b2f;
				border-radius: 1em;
				-khtml-border-radius: 1em;
				-moz-border-radius: 1em;
				-webkit-border-radius: 1em;
				-o-border-radius: 1em;
				color: #fff;
				font-family: "Lintel-Medium", arial, helvetica;
				font-weight: normal;
				font-size: 1.2em;
				padding: 3px 10px;
				text-transform: uppercase;
				min-width: 80px;
				float: none;
			}

			.actions button.off {
				background: none;
				color: #dc6b2f;
			}

			.icons {
				padding: 3px 6%;
				border-top:solid;
				border-top-width:3px;
				border-top-color:#fff;
				float:left;
			}
				.icons button {
				 	background:none;
					border:none;
				}

				.icons > button > img {
					background: url("../images/btn_anexar.inativo.png");
					background-position:0px top;
					background-repeat:no-repeat;
					width: 89px;
					height: 34px;
				}

				.icons.salvar > button > img {
					background: none !important;
					width: 94px;
					height: 35px;
				}

				.icons.salvar.ativo > button > img {
					background: none !important;
					width: 94px;
					height: 35px;				
					cursor: pointer;
				}

				.icons.ativo > button {
					cursor: pointer;
				}

				.icons.ativo > button > img {
					cursor: pointer !important;
					background: url("../images/btn_anexar.ativo.png") !important;
					width: 89px;
					height: 34px;
				}
			#extra{
				border-top:solid;
				border-top-width:1px;
				border-top-color:#ccc;
				height:80px;
				width:100%;
				clear:both;
				display: block;				
			}
				#extra input:file{
					margin:10px;
					height: 20px;
					padding: 4px;
					font: 12pt "Verdana", Geneva, sans-serif;
					width:auto;
					font-size:1em;
				}

				#extra button.enviar-arquivo {
					cursor: pointer;
					margin: 5px;
				}

				#extra button.enviar-arquivo:hover{
					background-color: #f60;
				}

				#extra button.enviar-arquivo:active{
					background-color: #C05131;
				}

				#extra button.enviar-arquivo:disabled{
					background-color: #ffb789;
				}
/*-------------------------------------*\
    Carregando/Loading
\*-------------------------------------*/	
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #d4d4d4;
  font-size: 10px;
  margin: 40px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/* INICIO EXEMPLOS POPUPS */
#pop, .popup, .popup-timer {
	background-color:#13276F;
	border-radius:0.5em;
		-khtml-border-radius:0.5em;
		-moz-border-radius:0.5em;
		-webkit-border-radius:0.5em;
		-o-border-radius:0.5em;
	bottom: 0;
	color: #fff;
	font-size: 1.8em;
	left: 0;
	margin: 10% 20%;
	height: calc(100%-10%);/**/
	overflow: auto;
	padding: 0.8em;
	position:fixed;
	right: 0;
	text-align: left;	
	top: 0px;
	/*top: 0;*/	
	width: calc(100%-40%);	
	z-index:999999;
}

.popup, .popup-timer{
	font: normal 1em "Lintel-Regular", helvetica;
}

.popup-timer {
	/*height: 40%;*/
}

.popup-timer h1{
	text-align: center;	
}

.popup-timer button{
	float: none;
}

@media only screen and (max-width: 600px) {
	#pop, .popup, .popup-timer {
		margin: 1em;
		width: calc(100%-1em);
	}
	.foot {
		bottom:0;
		font-size: 0.8em;
	}
}
		#pop {
			font: normal 1em "Lintel-Regular", helvetica;	
		}
#mascara, .mascara {
  background-image: url("../images/fundo_preto.png");
  bottom:0;
  height:100%;
  left:0;
  position:fixed;
  top:0;
  right:0;
  width:100%;
  z-index:999998;
}

.foot {
	bottom:0;
	font-size: 0.75em;
	width:auto;
}
/* FIM EXEMPLOS POPUPS */

#btn-send {
	background-image: url("../images/btn_send.png");
	height: 22px;
	width: 22px;
	margin-top: 11px;
}

[scroll-glue-top],
[scroll-glue-bottom],
[scroll-glue] {
	overflow-y: scroll;
}

.agent-typing {
	font-size: 0.8em;
    color: #87877D;
}

.pagamento {
	background: #fff;
	color: #000;
	border: 1px solid #97999b;
	font: 0.9em "Helvetica", Arial, sans-serif;
	margin-bottom: 10px;
	display:block;
	padding: 0.5em;
}
	.pagamento .row{
		margin:0;	
	}
	.pagamento label {
		color: #97999B;
		font-weight:bold !important;
        font: normal 0.7em "Lintel-Medium", helvetica;        
		display:block;
	}
		.pagamento label span{
			color:#1b365d;
			clear:left;
			display:block;
			font: 1.3em "Helvetica", Arial, sans-serif;
			padding-top: 5px; 
		}
	.vencimento {
		background: #eceff4;
		border-width: 1px 0px 0px 0px;
		border-style: solid;
		border-color:#cccccc;
		
	}

/* Consulta pagamento (Action 1105) */
.actionStyle1105{
	background: linear-gradient(#c3e2e5, #b2d1d1);
	display: block;
	max-width: 95%;
}

/* Consulta pagamento (Action 1106) */
.actionStyle1106{
	background: linear-gradient(#c3e2e5, #b2d1d1);
	display: block;
	max-width: 95%;
}

.rowIconeAlerta {
	text-align: center;
	margin: 0px 0px 8px 0px;
}

.rowIconeAlerta p {
	font-size: 22pt;
	margin: 0px 0px 0px 0px;
}

.iconPopupBoleto {
	color: yellow;
	font-size: 28pt;
}

.popupBoletoDebitoConta span{
	font: normal 12pt "Lintel-Regular", helvetica;
}

.rowBotoesPopupBoleto {
	text-align: center;
	margin-top: 30px;
}

.rowBotoesPopupBoleto button{
	float: none;
    margin: 0px 10px 0px 10px;
	background: #dc6b2f;
	border-radius: 1em;
	-khtml-border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-o-border-radius: 1em;
	color: #fff;
	font-family: "Lintel-Medium", arial, helvetica;
	font-weight: normal;
	font-size: 0.8em;
	padding: 3px 10px;
	text-transform: uppercase;
	width: 100px;
}

.rowBotoesPopupBoleto button.off {
	background-color: #f4f4f4;
	border: solid 1px #dc6b2f;
	font-family: "Lintel-bold", arial, helvetica;
	font-weight: normal;
	font-size: 0.8em;
	color: #dc6b2f;
	padding: 2px 8px;
}

.botoesFormulario button{
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

div#presencePopup {
    padding-top: 40%;
    padding-left: 10%;
    padding-right: 10%;
}

#presencePopup .columnpop {
    text-align: center; */
}
