@font-face {
  font-family: 'icones';
  src:  url('fonts/icones.eot?rpkwvl');
  src:  url('fonts/icones.eot?rpkwvl#iefix') format('embedded-opentype'),
    url('fonts/icones.ttf?rpkwvl') format('truetype'),
    url('fonts/icones.woff?rpkwvl') format('woff'),
    url('fonts/icones.svg?rpkwvl#icones') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icones' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notification:before {
  content: "\ea08";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-share2:before {
  content: "\ea82";
}
