<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Chat SulAm&eacute;rica</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no"
	/>
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
</head>

<body>

	<div id="grid" class="error" ng-if="error.unavailableError == true">
		<div class="row">
			<div class="column off">
				<p><strong>:(</strong></p>
				<p>{{error.errorMessage}}</p>
				<p>Central de Atendimento - Emissão Auto Individual, Frotas e Parcerias</p>
				<p>{{telefoneAtendimento}}</p>
				<p>Horário de Atendimento por telefone: {{horarioAtendimentoTelefone}}</p>
			</div>
		</div>
	</div>

	<form name="formInfo">
		<div id="pop" ng-if="showInputName">
			<div id="grid">
				<div class="row">
					<div class="column-pop column-12">
						Bem vindo ao novo Atendimento Segurado Saúde<br/>Aqui você poderá tirar as suas principais dúvidas de forma rápida e prática com nosso assistente virtual.
					</div>
					<div class="columnpop column-12">
						<label for="textInput" class="inputOutline">
							<input id="textInput" name="nome" class="input responsive-column" placeholder="Insira seu nome" type="text" ng-model="chat.nome" required>
						</label>
					</div>
					<div class="columnpop column-12">
						<label for="textInput" class="inputOutline">
							<select id="tipoproduto" name="tipoproduto" class="input responsive-column" ng-model="chat.tipoproduto" required>
								<option value="" disabled selected>Selecione</option>
								<option value="PME">PME</option>
								<option value="Individual">Individual</option>
								<option value="Grupal">Grupal</option>
								<option value="Adesão">Adesão</option>
							</select>
						</label>
					</div>
					<div class="columnpop column-12" ng-if="chat.tipoproduto === 'Individual' || chat.tipoproduto === 'Grupal' || chat.tipoproduto === 'Adesão'">
						<label for="textInput" class="inputOutline">
							<input id="textInput" name="carteirinha" class="input responsive-column" placeholder="Número da Carteirinha (Produto + Identificação)" type="text" ng-model="chat.carteirinha" mask="999 99999 9999 9999 9999" required>
						</label>
					</div>
					<div class="columnpop column-12">
						<label for="textInput" class="inputOutline">
							<input id="textInput" name="codempresa" class="input responsive-column" ng-if="chat.tipoproduto === 'PME'" placeholder="Cod Empresa" type="text" ng-model="chat.codempresa">
						</label>
					</div>
					<div class="columnpop column-12">
						<label for="textInput" class="inputOutline">
							<input id="textInput" name="email" class="input responsive-column" placeholder="Qual o seu e-mail?" type="email" ng-model="chat.email" ng-required="emailTelefoneObrigatorio">
						</label>
					</div>
					<div class="columnpop column-12">
						<label for="textInput" class="inputOutline">
							<input id="textInput" name="telefone" class="input responsive-column" placeholder="E  o seu telefone?" type="text" ng-model="chat.telefone" mask="(99) 9?9999-9999" restrict="reject" ng-required="emailTelefoneObrigatorio">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="column column-12">
						<button id="btn-enter" ng-click="closePopUp(name)">Entrar</button>
					</div>
				</div>
				<div class="foot">
					<div class="column column-12">
						Atendimento de segunda a sexta-feira, das {{workingHours.start}} às {{workingHours.end}}, exceto feriados nacionais.
					</div>
				</div>
			</div>
		</div>
	</form>

	<div id="mascara" ng-if="showInputName"></div>
	
	<div class="mascara" ng-show="formulario.visivel"></div>
	<div id="pop-regex" class="popup" ng-show="formulario.visivel">
		<div id="gridpop">
			<div class="row">
				<div class="column-pop column-12">
					{{ (formulario.titulo != "" && formulario.titulo != null) ? formulario.titulo : "Informe os dados abaixo" }}
				</div>
			</div>
			<div class="row" ng-repeat="(key, campo) in formulario.campos track by $index" ng-show="campo.visivel">
				<div class="column-pop column-10">
					<label for="textInput" class="inputOutline">

						<span>{{campo.nomeExibicao}}</span>

						<input id="textInput" ng-if="key === 'apolice'" class="input responsive-column" placeholder="{{campo.placeholder}}" type="number" ng-model="campo.apolice" ng-change="validarFormulario()" >

						<input id="textInput" ng-if="key === 'endosso'" class="input responsive-column" placeholder="{{campo.placeholder}}" type="number" ng-model="campo.endosso" ng-change="validarFormulario()" >

						<input id="textInput" ng-if="key === 'pedidoEndosso'" class="input responsive-column" placeholder="{{campo.placeholder}}" type="number" ng-model="campo.pedidoEndosso" ng-change="validarFormulario()" >

						<input id="textInput" ng-if="key === 'proposta'" class="input responsive-column" placeholder="{{campo.placeholder}}" type="{{campo.inputType}}" ng-model="campo.proposta" ng-change="validarFormulario()" >

						<input id="textInput" ng-if="key === 'dataNascimento'" class="input responsive-column" placeholder="{{campo.placeholder}}" type="{{campo.inputType}}" ng-model="campo.dataNascimento" ng-change="validarFormulario()" mask="{{campo.mask}}">

						<input id="textInput" ng-if="key === 'cpfCnpj'" class="input responsive-column" placeholder="{{campo.placeholder}}" type="{{campo.inputType}}" ng-model="campo.cpfCnpj" ng-change="validarFormulario()" mask="{{mascaraCpfCnpj}}">

						<input id="textInput" ng-if="key === 'carteirinha'" class="input responsive-column" placeholder="{{campo.placeholder}}" type="{{campo.inputType}}" ng-model="campo.carteirinha" ng-change="" mask="{{campo.mask}}">
						
						<select id="textInputSucursal" ng-if="key === 'sucursal'" class="input responsive-column" ng-model="campo.sucursal" ng-change="validarFormulario()">
							<option value="" disabled selected>{{campo.placeholder}}</option>
							<option value="19">19 - Belem</option>
							<option value="27">27 - Fortaleza</option>
							<option value="35">35 - Recife</option>
							<option value="43">43 - Salvador</option>
							<option value="60">60 - São Paulo</option>
							<option value="221">221 - Campinas</option>
							<option value="337">337 - Ribeirão Preto</option>
							<option value="78">78 -Curitiba</option>
							<option value="86">86 - Blumenau</option>
							<option value="94">94 - Porto Alegre</option>
							<option value="108">108 - Belo Horizonte</option>
							<option value="124">124 - Brasilia</option>
							<option value="310">310- Cuiabá</option>
							<option value="132">132 - Rio de Janeiro</option>
						</select>
					</label>
				</div>
				<div class="column-pop column-1 checkColumn">
					<i ng-class="campo.valido ? 'icon icon-checkmark green' : 'icon icon-cross red'"></i>
				</div>
			</div>
			<div class="row">
				<div class="columnpop column-12 botoesFormulario">
					<button ng-click="confirmaFormulario()">Confirmar</button>
					<button ng-click="cancelaFormulario()">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

	<div id="presencePopup" class="popup-timer" ng-show="presencePopupVisible == true">
		 <div class="row">
			 <div class="columnpop">
				 Caso não tenha outra solicitação, este chat será encerrado em:
				 <p></p><h1>{{presenceTimer}}</h1><p></p>
			 </div>
		 </div> 
		<div class="columnpop">
			<div class="row">
			 <div class="columnpop column-12">
				 <p><button ng-click="resetIdleTimeout()">continuar no chat</button></p>
			 </div>
		 </div>
	 </div>
	</div>
	<div id="presencePopupMask" class="mascara" ng-show="presencePopupVisible == true">
	</div>

	<header id="topo">
		<span id="nome">{{formattedAgentName}} SulAm&eacute;rica</span><br/>
		<span id="atendimento" ng-show="workingHours.start" >2ª a 6ª das {{workingHours.start}} às {{workingHours.end}} | exceto feriados nacionais</span>
	</header>

	<div id="content">
		<div ng-if="waitingLoader == true" id="grid" class="waiting-agent">
			<div class="row">
				<div class="off">
					<p>Você está entrando no chat, estamos te conectando com um agente que já te atenderá.</p>
					<div class="loader">Carregando</div>
					<p class="carregando">
						Conectando a um agente
					</p>
				</div>
			</div>
		</div>

		<div id="grid" class="conversation-grid" scroll-glue="glued" ng-style="{{setGridHeight()}}">
			<div class="row" ng-repeat="message in conversation track by $index">
				<div ng-if="message.type == 'atendente'" class="avatar {{::forwardedToLiveAgent.wasForwarded ? 'bia orange' : 'bot'}}"></div>
				<div ng-class="message.type == 'atendente' ? 'column' : 'column right'">
					<div class="mensagens {{message.type}} actionStyle{{message.output.action}}">
						<p ng-repeat="text in message.output.text track by $index" compile-html="text">{{text}}</p>
					</div>
					<br/> 
					<label ng-if="message.type == 'atendente'">{{message.atendente.nome}}, {{message.dateHour | date:'HH:mm'}}</label>
					<label ng-if="message.type == 'corretor'">{{message.corretor.nome}}, {{message.dateHour | date:'HH:mm'}}</label>
				</div>
			</div>

			<div class="row agent-typing" ng-if="agentTyping == true">
				<span class="operator" id="liveAgentChatLogTyping"><em>O agente está digitando...</em></span>
			</div>

			<div ng-if="forwardedToLiveAgent.showMessage == true" class="row live-agent-queue mensagens atencao">
				{{forwardedToLiveAgent.formattedMsg}}
			</div>

			<div ng-if="chatEnd.wasEnded == true" class="row">
				<div class="column">
					<div class="mensagens saiu">
						{{chatEnd.formattedMsg}}
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="popup popupBoletoDebitoConta" ng-show="exibirPopupBoletoDebitoConta">
		<div class="row rowIconeAlerta">
			<div class="column-12">
				<p><i class="icon icon-notification iconPopupBoleto"></i></p>
				<p>Aviso</p>
			</div>
		</div>
		<div class="row">
			<div class="column-12">
				<span>
					A geração do boleto não cancela o agendamento junto ao banco e caso haja duplicidade o IOF não será devolvido.
					<br/>Oriente o segurado a cancelar o débito para que não ocorra a duplicidade de pagamento.
					<br/>Deseja gerar o boleto?
				</span>
			</div>
		</div>

		<div class="row rowBotoesPopupBoleto">
			<div class="column-12">
				<button ng-click="respostaBoletoDebitoConta(false)" class="off">Não</button>
				<button ng-click="respostaBoletoDebitoConta(true)">Sim</button>
			</div>
		</div>

	</div>

	<div class="mascara" ng-show="exibirPopupBoletoDebitoConta">
	</div>


	<footer id="footer">
		<div ng-show="!exibirBotoesSimOuNao">
			<div id="escreva">
				<input id="inputMessage" type="text" placeholder="Escreva sua mensagem" maxlength="240" ng-disabled="readOnly" ng-model="message.text" ng-keyup="onKeyUp($event, message)" />
			</div>
			<div class="enter">
				<a href="javascript:void(0);" ng-click="sendInputedText(message)">
					<div id="btn-send"></div>
				</a>
			</div>
		</div>

		<div class="actions" ng-show="exibirBotoesSimOuNao">
			<button ng-click="enviarTexto('Sim')">Sim</button>
			<button ng-click="enviarTexto('Não')" class="off" >Não</button>
		</div>

		<div id="actions">
			<div ng-class="conversation.length > 0 ? 'icons salvar ativo' : 'icons salvar'">
				<button ng-disabled="conversation.length == 0" ng-click="downloadPDF()" title="Salvar conversa em pdf">							
					<img src="../images/btn_salvar.png" alt="Salvar conversa em pdf"/>
				</button>
			</div>
			<div ng-class="enableUploadButton == true ? 'icons ativo' : 'icons'">
				<button ng-disabled="enableUploadButton == false" ng-click="troggleFileUpload()" class="icons" title="Anexar arquivos">
					<img src="../images/pixel.png" alt="Anexar arquivos"/>
				</button>
			</div>
		</div>
		<br/>
		<div id="extra" ng-if="exibeFileUpload == true">
			<br/>
			<div id="grid" nv-file-over="" uploader="uploader">
				<div class="row">
					<div class="column">
						<input type="file" nv-file-select="" uploader="uploader" />
						<label class="nome-arquivo" ng-repeat="item in uploader.queue">
							{{ item.file.name }}
						</label>
					</div>
					<div class="column">
						<button class="enviar-arquivo" ng-disabled="!enableUploadButton" ng-click="enviarArquivo()">Enviar</button>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>