﻿@font-face {
    font-family:'Lintel-Thin';
    src:url('../fonts/Lintel Thin/Lintel-Thin.eot');
    src:url('../fonts/Lintel Thin/Lintel-Thin?#iefix') format('embedded-opentype'),
        url('../fonts/Lintel Thin/Lintel-Thin.svg#Lintel-Regular') format('svg'),
        url('../fonts/Lintel Thin/Lintel-Thin.ttf') format('truetype'),
        url('../fonts/Lintel Thin/Lintel-Thin.woff') format('woff');
    font-weight:normal;
    font-style:normal;
	line-height:normal; }

@font-face {
    font-family:'Lintel-Light';
    src:url('../fonts/Lintel Light/Lintel-Light.eot');
    src:url('../fonts/Lintel Light/Lintel-Light?#iefix') format('embedded-opentype'),
        url('../fonts/Lintel Light/Lintel-Light.svg#Lintel-Regular') format('svg'),
        url('../fonts/Lintel Light/Lintel-Light.ttf') format('truetype'),
        url('../fonts/Lintel Light/Lintel-Light.woff') format('woff');
    font-weight:normal;
    font-style:normal;
	line-height:normal; }
	
@font-face {
    font-family:'Lintel-Regular';
    src:url('../fonts/Lintel Regular/Lintel-Regular.eot');
    src:url('../fonts/Lintel Regular/Lintel-Regular?#iefix') format('embedded-opentype'),
        url('../fonts/Lintel Regular/Lintel-Regular.svg#Lintel-Regular') format('svg'),
        url('../fonts/Lintel Regular/Lintel-Regular.ttf') format('truetype'),
        url('../fonts/Lintel Regular/Lintel-Regular.woff') format('woff');
    font-weight:normal;
    font-style:normal;
	line-height:normal; }
	
@font-face {
    font-family:'Lintel-Medium';
    src:url('../fonts/Lintel Medium/Lintel-Medium.eot');
    src:url('../fonts/Lintel Medium/Lintel-Medium?#iefix') format('embedded-opentype'),
        url('../fonts/Lintel Medium/Lintel-Medium.svg#Lintel-Regular') format('svg'),
        url('../fonts/Lintel Medium/Lintel-Medium.ttf') format('truetype'),
        url('../fonts/Lintel Medium/Lintel-Medium.woff') format('woff');
    font-weight:normal;
    font-style:normal;
	line-height:normal; }		
	
@font-face {
    font-family:'Lintel-Bold';
    src:url('../fonts/Lintel Bold/Lintel-Bold.eot');
    src:url('../fonts/Lintel Bold/Lintel-Bold?#iefix') format('embedded-opentype'),
        url('../fonts/Lintel Bold/Lintel-Bold.svg#Lintel-Regular') format('svg'),
        url('../fonts/Lintel Bold/Lintel-Bold.ttf') format('truetype'),
        url('../fonts/Lintel Bold/Lintel-Bold.woff') format('woff');
    font-weight:normal;
    font-style:normal;
	line-height:normal; }